{% extends 'base.html'%}

{% load static%}

{% block title %}
Home
{% endblock %}

{% block extra-style%}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="home-image">
        <h2 class="'title">Welcome to my blog <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
          </svg></h2>
    </div>
   
    <hr style="margin:10px 0;">

    <div class="row text-center">
        <div class="col">
            <h4>👗About the blog👜</h4>
            <p>My blog is a fashion (Kolon Mall) blog. The blog provides various articles related to fashion.<br>
                We also show popular products at Kolon Mall. You can also add content that is not on the blog directly.<br>
                You are also free to write comments about your blog.<br>
                I hope you receive a lot of information about fashion from your blog. Thank you for visiting.
                
            </p>
        </div>
    </div>
{% endblock content %}

{% block footer %}
<footer class="'fixed-bottom bg-info">
    <h4>This is FOOTER area</h4>
</footer>
{% endblock %}